# --- Python ---
__pycache__/
*.py[cod]
venv/
env/

*.csv
*.parquet
*.csv.gz
data/

**/ny_taxi_postgres_data/

# --- Cấu hình môi trường & Mật khẩu ---
.env
*.env

# --- Terraform (Rất quan trọng) ---
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# --- Google Cloud ---
# File JSON chứa key service account
*.json
gcp-key.json
google_credentials.json

# --- IDE ---
.vscode/
.idea/

command
